body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #777777;
   
    background-image: url("grey_wash_wall.png");
  }
  
.header  {
   overflow: hidden;
   background-color: #ffffff;
   padding: 20px 10px;
 }

.header a {
   float: left;
   color: darkcyan;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;

 }

.h1 {
  font-size: 25px;
  font-weight: bold;

 }

.header a:hover {
  background-color: #03038a;
  color: black;
}

.heaer a.active {
  background-color: dodgerblue;
  color: white;

}

.header .right {
  float: right;

}

#main-bio {

}
#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  

